tr > td {
  border-bottom: 1px solid #ccc;
}


tr:first-child > td {
  border-top: 1px solid black;
}


td,th{
  text-align: center;
}

h1 + button {
font-size: 1.2em;
}

h1, button:first-child, h1 + button {
  background-color: #4D00FF;
  color: white;
}

td button{
  font-size: 1.1em;
  margin-left: 10px;
}

button {
  border: none;
  border-radius: 5px;
}

p-table button:last-child {
  background-color: #E20032;
  color: white;
}


