/* Séparation des produits par une ligne horizontale fine */
tr > td {
  border-bottom: 1px solid #ccc;
}

/* Séparation du header du reste du tableau par une ligne noire */
tr:first-child > td {
  border-top: 1px solid black;
}

/* Centrer le contenu des cellules */
td {
  text-align: center;
}

/* Styles pour le titre et le premier bouton */
h1, p-table button:first-child {
  background-color: #4D00FF;
  color: white;
}

/* Style pour le deuxième bouton */
p-table button:last-child {
  background-color: #E20032;
  color: white;
}


