* {
    margin-left: 5px
}

tr > td {
  border-bottom: 1px solid #ccc;
}


tr:first-child > td {
  border-top: 1px solid black;
  margin-left: 5px
}


td,th{
  text-align: center;
}

h1 + button {
font-size: 1.2em;
}

h1, button:first-child, h1 + button {
  background-color: #4D00FF;
  color: white;
}

td button{
  font-size: 1.1em;
  margin-left: 10px;
}

button {
  border: none;
  border-radius: 5px;
}

p-table button:last-child {
  background-color: #E20032;
  color: white;
}

/* formulaire */

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button:last-child{
  border: none;
  border-radius: 5px;
  background-color: rgb(26, 157, 37);
  color:white;
  font-size: 1.1em;
}
